h1 {
  color: black;//#00f; another example for value is #0000ff;
  text-align: center;
  }

  h2 {
    color: red;//#00f; another example for value is #0000ff;
    text-align: center;
    }
    body {
        background: #48D1CC;
    }
